prompt
ignore.zip
design
secret

client/node_modules
client/.env
server/orders/.env
server/auth/.env
server/products/.env
server/orders/node_modules
server/auth/node_modules
server/products/node_modules
